.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-wrapper input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid rgb(225, 219, 209);
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.checkbox-wrapper input[type="checkbox"]:checked {
  background-color: #2a7461;
  border-color: #2a7461;
}

.checkbox-wrapper input[type="checkbox"]:checked::after {
  content: "✔";
  position: absolute;
  color: white;
  font-size: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}