.radio-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radio-wrapper input[type="radio"] {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid rgb(225, 219, 209);
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
}

.radio-wrapper input[type="radio"]:checked {
  border: 8px solid rgba(0, 104, 85, 1);
}
