h1{
  font-size: 32px;
  font-weight: 900;
  line-height: 40px;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 1);
  gap: 8px;
  padding-top: 19px;
}

section {
  padding: 24px 20px 0 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .prepare-project {
    display: flex;
    flex-direction: column;
    gap: 16px;

      > div {
        display: flex;
        flex-direction: column;
        gap: 16px;

        > p {
          margin: 0;
          line-height: 24px;
          font-weight: 350;
        }
      }

      .buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;

        button {
          display: flex;
          justify-content: space-between;
          background-color: white;
          border: 1px solid rgba(211, 211, 211, 1);
          border-radius: 8px;
          padding: 16px 24px;
          font-size: 18px;
          line-height: 28px;
        }

        button > div {
          display: flex;
          font-weight: 600;
          align-items: center;
          gap: 8px;
        }
      }
  }

  .finance {
    display: flex;
    flex-direction: column;

    > p {
      margin: 0;
      padding-bottom: 16px;
      padding-top: 8px;
      font-weight: 350;
      line-height: 24px;
    }

    .info-boxes {
      display: flex;
      flex-direction: column;
      gap: 16px;
      
      > p {
        font-weight: 350;
      }
    }

    .boxes {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .info-box {
        background-color: rgba(245, 245, 245, 1);
        border-radius: 8px;
        padding: 16px;
        font-weight: 350;
        display: flex;
        gap: 8px;
        flex-direction: column;

        > div {
          display: flex;
          align-items: center;
          gap: 4px;
          font-weight: 600;
        }

        > p {
          font-size: 12px;
          line-height: 16px; 
          letter-spacing: 0.32px;
        }
      }
    }

    .attestation-button {
      margin-top: 8px;
      margin-bottom: 28px;
      background-color: rgba(5, 5, 5, 1);
      color: white;
      border: none;
      border-radius: 8px;
      padding: 20px 24px 20px 24px;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      cursor: pointer;
      white-space: nowrap;
    }
  }

}

@media (min-width: 768px){
  section {
    gap: 16px;
    margin-top: 8px;
    .prepare-project {
      gap: 24px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      > div {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-bottom: 24px;
        width: 100%;
      }

      .hero-image {
        width: -webkit-fill-available
      }
    }

    .finance {
      > p {
        padding-bottom: 24px;
        padding-top: 16px;
      }

      .attestation-button {
        max-width: 240px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .model-image {
        width: fit-content;
        display: flex;
        align-self: center; 
      }
    }
  }
}

@media (min-width: 1024px) {
  section {
    .finance {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .attestation-button {
        max-width: 280px;
      }

      .boxes{
        flex-direction: row;
        gap: 24px;
      }
    }
  }
}

@media (min-width: 1240px) {
  main {
    padding-top: 40px;
    margin: 0;
    background-image: url('/src/assets/BackgroundCity.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: rgb(255, 255, 255);

    section {
      margin-left: 240px;
      margin-right: 240px;
      border: 1px solid rgb(211, 211, 211);
      border-radius: 8px;
      padding: 40px 40px 0 40px;
      overflow: hidden;

      .prepare-project {
        display: flex;
        flex-direction: row;
        width: 100%;

        .hero-image {
          margin-bottom: -22px;
          flex-grow: 1;
        }
      }

      .finance {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .attestation-button {
          max-width: 280px;
        }
      }
    }
  }
}

