.time {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Text",
    "SF Pro Display",
    system-ui,
    sans-serif;
  font-size: 14px;
  font-weight: 600;
}

header {
  position: relative;
}

nav {
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: white;
  border-bottom: 1px solid rgba(201, 207, 213);
  position: sticky;
  top: 44px;
  z-index: 9;
  justify-content: space-between;

    .menu {
      display: flex;
      align-items: center;
      padding-left: 20px;
      height: 100%;
      border-left: 1px solid rgba(201, 207, 213);
    }
}

.status-bar {
  position: sticky;
  top: 0;
  height: 44px;
  padding: 0 15px 0 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  z-index: 10;
}

.status-icons {
  display: flex;
  gap: 4px;
}

h1{
  font-size: 32px;
  font-weight: 900;
  line-height: 40px;
  margin: 0;
}

section {
  margin-top: 19px;
  padding: 24px 20px 0 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .prepare-project {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  p {
    margin: 0;
    line-height: 24px;
    font-weight: 400px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;

    button {
      display: flex;
      justify-content: space-between;
      background-color: white;
      border: 1px solid rgba(211, 211, 211, 1);
      border-radius: 8px;
      padding: 16px 24px;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
    }

    button > div {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .finance {
    display: flex;
    flex-direction: column;

    > p {
      padding-bottom: 16px;
      padding-top: 8px;
    }

    .info-boxes {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .info-box {
        background-color: rgba(245, 245, 245, 1);
        border-radius: 8px;
        padding: 16px;
        font-weight: 400;
        display: flex;
        gap: 8px;
        flex-direction: column;

        > div {
          display: flex;
          align-items: center;
          gap: 4px;
          font-weight: 600;
        }

        > p {
          font-size: 12px;
          line-height: 16px; 
          letter-spacing: 0.32px;
        }
      }
    }

    .attestation-button {
      margin-top: 24px;
      margin-bottom: 28px;
      background-color: rgba(5, 5, 5, 1);
      color: white;
      border: none;
      border-radius: 8px;
      padding: 20px 24px 20px 24px;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      cursor: pointer;
    }
  }

}
