.time {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Text",
    "SF Pro Display",
    system-ui,
    sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.app-header {
  display: flex;
  padding: 16px 15px 11px 33px;
  justify-content: space-between;
  align-items: center;

    .status-icons{
      display: flex;
      gap: 5px;
    }
}
