.time {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Text",
    "SF Pro Display",
    system-ui,
    sans-serif;
  font-size: 14px;
  font-weight: 600;
}

header {
  position: relative;
}

nav {
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: white;
  border-bottom: 1px solid rgba(201, 207, 213);
  position: sticky;
  top: 44px;
  z-index: 9;
  justify-content: space-between;

    .menu {
      display: flex;
      align-items: center;
      padding-left: 20px;
      height: 100%;
      border-left: 1px solid rgba(201, 207, 213);
    }
}

.status-bar {
  position: sticky;
  top: 0;
  height: 44px;
  padding: 0 15px 0 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  z-index: 10;
}

.status-icons {
  display: flex;
  gap: 4px;
}

h1{
  font-size: 32px;
  font-weight: 900;
  line-height: 40px;
  margin: 0;
}

section {
  margin-top: 19px;
  padding: 24px 20px 0 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .prepare-project {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  p {
    font-size: 16px;
    margin: 0;
    line-height: 24px;
    font-weight: 400px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;

    button {
      display: flex;
      justify-content: space-between;
      background-color: white;
      border: 1px solid rgba(211, 211, 211, 1);
      border-radius: 8px;
      padding: 16px 24px;
    }

    button > div {
      display: flex;
      align-items: center;
    }
  }
}
