:root {
  font-family: Roboto, sans-serif, Arial;
  color: rgba(5, 5, 5, 1);
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

p {
  margin: 0;
  padding: 0;
}
